xsd/wmi-known-bad-files.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="WMIKnownBadFiles" type="WKBF"/>

  <xsd:complexType name="WKBF">
    <xsd:sequence>
      <xsd:element name="badfile" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="pattern" use="required" type="xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
